<div class="container" style="margin-top: 7%">
    <div class="card"  style="width:900px;margin-left:10%;">

        <div class="card-body mx-4">
    <form (ngSubmit)="onSubmit()">
        <p class="h4 text-center mb-4">Review of Order {{orderId}}</p>
    
        <!-- Material input text -->
        <div class="md-form">
            <i class="fa fa-sticky-note prefix grey-text"></i>
            <input required  name="title" [(ngModel)]="data.title"type="text" id="materialFormRegisterNameEx" placeholder="Title" class="form-control">
            <label for="materialFormRegisterNameEx"></label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-align-left prefix grey-text"></i>
            <textarea name="review" [(ngModel)]="data.review" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Review here !!"  required> </textarea>
            <label for="materialFormRegisterEmailEx"></label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-sort-numeric-up prefix grey-text"></i>
            <input name="rating" placeholder="rating" [(ngModel)]="data.rating" type="number" id="materialFormRegisterUsername" name="username" class="form-control" required minlength="4">
            <label for="materialFormRegisterConfirmEx"></label>
        </div>
        
    
        <!-- Material input password -->
        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Submit Review</button>
        </div>
    </form>
    </div>
    </div>
</div>