<!--The content below is only a placeholder and can be replaced.-->


<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar ie-nav fixed-top " [containerInside]="false">
  <logo>
    <a class="navbar-brand navBarclass" style="left:0" href="#">
      <h3>FoodieJunction</h3>
    </a>
  </logo>
  <links>

    <!-- Links -->
    <ul class="navbar-nav  mr-auto navBarclass">
      <li class="nav-item">
        <a class="nav-link waves-light hoverable " routerLink='' mdbRippleRadius>Home</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='customer'">
        <a class="nav-link waves-light hoverable " routerLink='/favorites' mdbRippleRadius>Favorite Restaurant</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='customer'">
        <a class="nav-link waves-light hoverable " routerLink='/reviews' mdbRippleRadius>Reviews</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='customer'">
        <a class="nav-link waves-light hoverable " routerLink='/orders' mdbRippleRadius>Orders</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='customer'">
        <a class="nav-link waves-light hoverable " routerLink='/chefs' mdbRippleRadius>Chefs</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='chef'">
        <a class="nav-link waves-light hoverable " routerLink='/recipe' mdbRippleRadius>Create Recipe</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='chef'">
        <a class="nav-link waves-light hoverable " routerLink='/favorites' mdbRippleRadius>Followers</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='owner'">
        <a class="nav-link waves-light hoverable " routerLink='/favorites' mdbRippleRadius>Followers</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='owner'">
        <a class="nav-link waves-light hoverable " routerLink='/orders' mdbRippleRadius>Orders</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='owner'">
        <a class="nav-link waves-light hoverable " routerLink='/recipe' mdbRippleRadius>Create Restaurant</a>
      </li>
      <li class="nav-item" *ngIf="user.type=='admin'">
          <a class="nav-link waves-light hoverable " routerLink='/create-user' mdbRippleRadius>Create User</a>
        </li>

    </ul>
    <ul class="navbar-nav  ml-auto navBarclass">
      <li class="nav-item " *ngIf="user.firstName==''">
        <a class="nav-link waves-light hoverable" routerLink='login' mdbRippleRadius>Login</a>
      </li>
      <li class="nav-item " *ngIf="user.firstName!=''">
        <a class="nav-link waves-light hoverable" routerLink='login' mdbRippleRadius>{{user.firstName}}</a>
      </li>
      <li class="nav-item " *ngIf="user.firstName!=''">
        <button class="btn btn-danger" (click)="logout()" mdbRippleRadius>Logout</button>
      </li>

      <!-- Dropdown 
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li>-->

    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>
