<div class="container" style="margin-top:7%">
    <table class="table">
      <thead class="thead">
        <th>
          Review #
        </th>
        <th>Title</th>
        <th>Review</th>
        <th>Rate</th>
        <th> Order #</th>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let review of reviews">
          <td>{{review.rateAndReviewId}}</td>
          <td>{{review.title}}</td>
          <td>{{review.review}}</td>
          <td>{{review.rating}}</td>
          <td>{{review.order.orderId}}</td> 
          <td><button class="btn btn-primary" (click)="deleteReview(review.rateAndReviewId)">Delete Review</button></td>
        </tr>
      </tbody>
    </table>
  </div>