<div style="margin-top:7%;">
  <h3 class="heading">Hundreds of outlets!! Find your favorites</h3>
  <div class="row" style="margin-left:8%;">
    <div style="margin:2%" *ngFor="let c of categories">
      <div class="card">
        <!--Card image-->
        <!--/.Card image-->
        <!--Button-->

        <!--Card content-->
        <div class="card-body" style="width:250px;height:100px;">
          <!--Title-->
          <h4 class="card-title">{{c.categories.name}}</h4>
          <hr>
          <!--Text-->

        </div>
        <a mat-mini-fab class="btn-floating btn-action ml-auto mr-2 mdb-color lighten-3" 
        style="margin-bottom:2%" routerLink='category/{{c.categories.id}}'>
          <i class="fa fa-chevron-right pl-1"></i>
        </a>
        <!--/.Card content-->
      </div>
    </div>
  </div>
</div>
